

<div class="row mt-4">
  <div class="col-12">
    <!--pre-loading state-->
    <div class="card mb-3" *ngIf="isLoading">
      <div class="card-body">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ml-4 ph-col-4 big"></div>
          </div>
        </div>
      </div>
    </div>
    <!--end pre-loading state-->

    <div *ngIf="!isLoading">
      <div class="card mr-xl-5">
        <div class="card-body text-gray-600 px-4 py-3 card-body-title">
          <div class="row pt-3 pb-3">
            <div class="col-lg-9 mb-3">
              <div class="card-title">
                <h4>
                  <span [translate]="'InstructorOutline.Title'"></span>
                </h4>
              </div>

              <span [translate]="'InstructorOutline.Body'"> </span><br><br>

              <div><span>{{'InstructorOutline.Publication.Total' | translate}} : {{publicationsCount}} </span></div>
              <div><span>{{'InstructorOutline.Work.Total' | translate}} : {{worksSum}} </span></div>
            </div>

            <div class="no-gutters w-50 col-9 col-sm-6 col-md-4 col-lg-3 d-flex mb-3">
              <div class="col-lg-8 align-self-center">
                <div class="btn-group w-100 px-0 align-self-center" dropdown>
                  <button id="download" type="button" dropdownToggle aria-controls="dropdown"
                    [disabled]="!(instructorOutlineReports && instructorOutlineReports.length > 0)"
                    class="btn btn-universis rounded responsive-width p-2 mt-2 d-none d-inline-flex justify-content-between align-items-center text-truncate">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                    <span class="d-print-block align-self-center" [translate]="'CourseOutline.Print'"></span>
                    <span></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="download">
                    <ng-container *ngIf="instructorOutlineReports && instructorOutlineReports.length > 0">
                      <li *ngFor="let report of instructorOutlineReports" class="dropdown-item" (click)="printInstructorOutline(report)">
                        <div>{{report.name}}</div>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-md-6 col-12">
    <universis-instructor-work></universis-instructor-work>
  </div>
  <div class="col-lg-5 col-md-6 col-12">
    <universis-instructor-publications-overview></universis-instructor-publications-overview>
  </div>
</div>
<router-modal></router-modal>
