<div class="row">
  <div class="col-sm-12 pt-2 pb-2">
    <a class="text-secondary pl-0 font-lg" [routerLink]="['../']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Home'"></span>
    </a>
  </div>
</div>

<ng-container *ngIf="!isLoading">
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark d-inline mr-2">{{ 'InstructorOutline.Title'| translate}}
      </h2>
      <span class="text-muted">{{instructor?.familyName}} {{instructor?.givenName}}</span>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <div class=" d-none d-md-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['general']" [routerLinkActive]="'active'" 
            >{{'InstructorOutline.General' | translate }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['publications']" [routerLinkActive]="'active'"
            [translate]="'InstructorOutline.Publications'"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <ul class="nav s--nav-tabs d-md-none bg-white d-flex justify-content-around s--nav-tabs">
      <li class="nav-item font-sm w-25">
        <a class="nav-link text-dark" [routerLink]="['general']" [routerLinkActive]="'active'"
          [translate]="'InstructorOutline.General'"> </a>
      </li>
      <li class="nav-item font-sm w-25">
        <a class="nav-link text-dark" [routerLink]="['publications']" [routerLinkActive]="'active'"
          [translate]="'InstructorOutline.Publications'"></a>
      </li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</ng-container>