<div class="mr-xl-5" >
  <div class="d-md-flex d-inline-block justify-content-start align-items-end mb-3" >
    <div class="pr-3">
      <h3 class="d-inline" [translate]="'Evaluations.TitlePlural'"></h3>
    </div>
    <div class="ml-auto pr-2">
      <a [routerLink]="['/courses/evaluations']" title="{{'Evaluations.TitlePlural' | translate}}" [translate]="'Evaluations.TitlePlural'"></a>
    </div>
  </div>

  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-2 empty big"></div>
          <div class="ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="mx-2 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="evaluations">
    <!-- start loop for evaluations -->
    <div *ngFor="let evaluation of evaluations">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9">
                  <div class="row mt-n2">
                    <h5 class="card-title">{{evaluation?.courseClassInstructor.courseClass.course.displayCode}} - {{evaluation?.courseClassInstructor.courseClass.title}}</h5>
                  </div>
                  <div class="row mt-2">
                    <span class="text-secondary mr-3 font-sm">
                      <i class="fa fa-calendar-alt pr-1"></i>
                      {{'Evaluations.StartDate' | translate}} {{evaluation.startDate | date:'short' || '-'}}
                     </span>
                    <span class="text-secondary mr-3 font-sm">
                      <i class="fa fa-calendar-alt pr-1"></i>
                      {{'Evaluations.EndDate' | translate}} {{evaluation.endDate | date:'short' || '-'}}
                    </span>
                    <span class="text-secondary mr-3 font-sm">
                      <i class="fa fa-flag pr-1"></i>
                      <span [ngClass]="{'text-primary': evaluation.eventStatus.alternateName ==='EventOpened',
                              'text-danger':evaluation.eventStatus.alternateName ==='EventPostponed' || evaluation.eventStatus.alternateName ==='EventCancelled',
                              'text-warning':evaluation.eventStatus.alternateName ==='EventRescheduled',
                              'text-indigo':evaluation.eventStatus.alternateName ==='EventScheduled',
                              'text-success':evaluation.eventStatus.alternateName ==='EventCompleted'}">
                      {{ 'EventStatusType.' + evaluation.eventStatus.alternateName | translate}}</span>
                    </span>
                    <span class="text-secondary mr-3 font-sm">
                      <i class="fa fa-calendar pr-1"></i>
                      {{evaluation?.courseClassInstructor.courseClass.period.alternateName | translate}}  {{evaluation?.courseClassInstructor.courseClass.year.alternateName }}
                    </span>
                    <span class="text-secondary mr-3 font-sm">
                      <i class="fa fa-check-circle pr-1"></i>
                      {{'Evaluations.Results.Title' | translate}} : {{evaluation?.results?.total}} {{'Evaluations.Results.Total' | translate}} / {{evaluation?.results.sent}} {{'Evaluations.Results.Sent' | translate}} / {{evaluation?.results.used}} {{'Evaluations.Results.Used' | translate}}
                    </span>
                  </div>
                </div>
                <div class="col-md-3 mt-4 mt-sm-0 d-flex align-items-center">
                  <button class="btn btn-outline-secondary btn-sm btn-block rounded-pill px-4 py-2" type="button" [routerLink]="[evaluation.url]" >
                    <span [translate]="'Evaluations.More'"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end loop for courses of exame periods -->
    </div>

    <div *ngIf="!isLoading && evaluations && evaluations.length === 0">
      <div class="card">
        <div class="info-text m-0 p-4" [translate]="'Evaluations.Empty'"></div>
      </div>
    </div>

  </div>
</div>
