<!--pre-loading state-->
<div class="card mb-3" *ngIf="isLoading">
  <div class="card-body">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-4 ph-col-4 big"></div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->

<!--search-->
<div *ngIf='!isLoading' class='card'>
  <div class='card-body pb-0'>
    <div class="details_student_navbar d-md-block">
      <form class="form-inline p-2 col">
        <div class="form-group col-sm-12 col-md-3">
          <label class="px-0 col-sm-12 col-md-3" for="searchText" [translate]="'InstructorOutline.Year'"></label>
          <div *ngIf="true" class="px-0 col-sm-12 col-md-9">
            <select [(ngModel)]="selectedYear" name="selectYear" class="form-control w-100" (change)="getPublications()">
              <option [ngValue]="-1" ><span [translate]="'InstructorOutline.AllYears'"></span></option>
              <option *ngFor="let year of academicYears" [ngValue]="year"> {{year.year + ' (' + year.total + ')'}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-8">
          <label class="px-0 col-sm-12 col-md-3" for="searchText" [translate]="'InstructorOutline.Search'"></label>
          <input spellcheck="false" (keyup.enter)="getPublications()" type="text" id="searchText" [(ngModel)]="searchText"
            name="searchText" class="form-control col text-left" [placeholder]="'InstructorOutline.Publication.SearchPlaceHolder' | translate">
        </div>
      </form>
    </div>

    <div class="card-title font-lg text-indigo mt-4 d-flex justify-content-between" align="right">
      <button class="btn btn-lg btn-default text-indigo px-3 pt-1 pb-2" (click)="addOrEditPublication(0)">
        <span>+</span><span>&nbsp;</span><span [translate]="'InstructorOutline.Add'"></span>
      </button>
      <div class="align-self-center">
        <span *ngIf="publications.length > 1 || publications.length == 0">{{publications.length}} {{'InstructorOutline.Publication.Plural' | translate}}</span>
        <span *ngIf="publications.length == 1">{{publications.length}} {{'InstructorOutline.Publication.Singular' | translate }}</span>
      </div>
    </div>
  </div>
</div>
<!--end search-->


<div *ngIf="!isLoading">
  <!--group publications by type and make a collapsible card for each group-->
  <ng-container *ngFor="let publicationGroup of publications | groupBy: 'publicationType.name' | values;index as id;">
    <div id="{{'accordion' + id}}" class="card mb-3">
      <!--header for each card-->
      <div class="card-header" id="{{'heading' + id}}">
        <div class="d-flex justify-content-between">
          <h5>{{(publicationGroup[0].publicationType?.locale?.name || publicationGroup[0].publicationType?.name) + ' ('+ publicationGroup.length + ')'}}</h5>
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-secondary text-decoration-none" data-toggle="collapse"
              attr.data-target="{{'#pub' + id}}" attr.aria-controls="{{'pub' + id}}" (click)="toggleCollapse(id)"> <i
                class="ml-3 pt-1 fa"
                [ngClass]=" {'fa-chevron-up' : collapsedCards[id], 'fa-chevron-down' : !collapsedCards[id]}"></i>
            </button>
          </h5>
        </div>

        <div><span *ngIf="!collapsedCards[id]">{{publicationGroup[0].publicationType?.locale?.description || publicationGroup[0].publicationType?.description}}</span></div>
      </div>
      <!--end header-->

      <div id="{{'pub' + id}}" class="collapse" attr.aria-labelledby="{{'#heading' + id}}"
        attr.data-parent="{{'#accordion' + id}}">
        <div class="card-body pt-0">
          <ul class="sis--list-group sis--list-group-body mb-3">
            <!-- order the publications of the group by year (descending) and print info-->
            <ng-container *ngFor="let publication of publicationGroup | orderBy : '-year'">
              <li class="sis--list-group-item">
                <div class="justify-content-center align-items-center list-color d-lg-flex">
                  <div class="sis--list-group-item_lg_column text-break col-sm-12 col-lg-10">
                    <span class="font-weight-bold">{{publication.title}}</span>
                    <div class="mt-2">{{'InstructorOutline.Publication.Authors' | translate}} : {{publication.authors}}</div>
                    <div>{{'InstructorOutline.Publication.Identifier' | translate}} : {{publication.identifier}}</div>
                    <div>{{'InstructorOutline.Publication.Source' | translate}} : {{publication.source?.name}}</div>
                    <div>{{'InstructorOutline.Publication.Year' | translate}} : {{publication.year}}</div>
                  </div>

                  <div class="sis--list-group-item_sm_column col-sm-12 col-lg-2 mt-3 mt-lg-0">
                    <div class="btn-group d-flex justify-content-between">
                      <button type="button" class="btn btn-default py-0" (click)="addOrEditPublication(publication.id)">
                        <i class="far fa-edit text-indigo"></i>
                      </button>
                      <button type="button" class="btn btn-default py-0" (click)="deletePublication(publication.id)">
                        <i class="fa fa-trash text-indigo" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="card" *ngIf="publications.length === 0">
    <div class="info-text m-0 p-4" [translate]="'InstructorOutline.Publication.NotFound'"></div>
  </div>
</div>
